/********************
BACKGROUNDS

Propiedades
-----------------------------
background-color:
Define el color de fondo del elemento.

background-image:
Define la imagen de fondo del elemento.

background-size:
Define el tamaño de la imagen de fondo
    1er valor: X
    2do valor: Y
- cover cambia el tamaño de la imagen de fondo para asegurarse
    que permanezca completamente visible.
- contain cambia el tamaño de la imagen de fondo para asegurarse
de que el elemento esté completamente cubierto.

background-repeat:
Define cómo se repite la imagen de fondo del elemento.

background-position:
Define la posición de la imagen de fondo
    1er valor: X
    2do valor: Y (por defecto center)
Estos valores numéricos también los podemos indicar con las
palabras centern, top, bottom, left and right.

background-clip:
Define cuánto debe extenderse el fondo dentro del elemento.

background-origin:
Define el origen de la imagen de fondo.

background-attachment:
Define cómo se comportará la imágen de fondo al desplazarte
    por la página.




Un shorthand de todas estas propiedades es
background
*/

.box {
    margin: 2rem auto;
    width: 300px;
    height: 300px;
    border: thick dashed red;
}

.bg-color {
    background-color: aquamarine;
}

.bg-image {
    /*La imagen original no entra*/
    background-image: url("../assets/puesta-sol.jpg");
}

.bg-size {
    /*La imagen original no entra*/
    background-image: url("../assets/puesta-sol.jpg");
    /*Cuando se pasa solo un valor, es el ancho; pero el alto es calculado*/
    background-size: 300px 200px;
    background-size: 300px;
    /*cubre toda la caja pero no asegura que se vea toda la imagen*/
    background-size: cover;
    /*se asegura que la imagen entre en el contenedor pero ciertas partes del
    contenedor pueden quedar vacias*/
    background-size: contain;
}

.bg-repeat {
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 100px;
    /*Por defecto, repite en mosaico*/
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;    
    background-repeat: no-repeat;    
}

.bg-position {
    background-color: aqua;
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-position: 1rem 2rem;
    background-position: 10% 20%;
    background-position: 10%;
    /*lo mismo que el anterior*/
    background-position: 10% center;
    background-position: top center;
    background-position: top right;
    background-position: top left;
    background-position: center top;
    background-position: center center;
    background-position: center bottom;
}

/*Afecta al fondo*/
.bg-clip {
    background-color: skyblue;
    background-image: url("../assets/puesta-sol.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*Valor por defecto es border-box*/
    /*El borde tiene el color de fondo de la caja*/
    background-clip: border-box;
    /*El color de fondo empieza desde el padding*/
    background-clip: padding-box;
    /*El color de fondo empieza desde el contenido*/
    background-clip: content-box;
    padding: 1rem;
}

/*Afecta a la imagen*/
.bg-origin {
    background-color: bisque;
    background-image: url(../assets/puesta-sol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    /*Valor por defecto*/
    background-origin: padding-box;
    /*La imagen se empieza a pintar desde el area del contenido
    en el border*/
    background-origin: border-box;
    background-origin: content-box;
}

.bg-attachment {
    background-image: url("../assets/puesta-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-attachment: scroll;
    background-attachment: fixed;
}

/*La última en definirse, estará más al fondo*/
.bg-multiple {
    width: 50%;
    height: 30vh;
    background-color: aquamarine;
    background-image:   url("../assets/favicon.png"),
                        url("../assets/puesta-sol.jpg");
    background-repeat: repeat-x, no-repeat;
    background-size: 10%, cover;
}

/*Utilizando el shorthand con 3 fondos distintos*/
.bg-art {
    width: 1000px;
    height: 700px;
    background: url("../assets/arbol.png") no-repeat center bottom,
                url("../assets/aves.png") no-repeat center bottom,
                url("../assets/cielo.png") no-repeat center top;
}