.box {
    background-color: black;
    width: 400px;
    height: 400px;
    margin: 2rem auto;
    border: thick solid red;
}

.border-radius {
    /*Es un shorthand de los que siguen*/
    border-radius: 1rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-radius: 2rem 4rem 0 1rem;
    border-radius: 2rem;
}

/*Para aplicar borders elipticos hacemos uso de 2 valores*/
/*radios en X / radios en Y*/

.border-radius-2 {
    border-radius: 2rem / 4rem;
    border-radius: 2rem 4rem 7rem / 4rem 6rem 1rem;
}

.border-radius-3 {
    border-radius: 50%;
}

.border-radius-4 {
    width: 400px;
    height: 200px;
    border-radius: 50%;
}

.outline {
    color: white;
    text-align: center;
    outline-width: 5px;
    outline-style: dashed;
    outline-color: chartreuse;
    outline: thick solid blue;
/*  La diferencia entre border y outline, es que el borde ocupa espacio de la caja*/
    border-width: 100px;
    /* outline-width: 100px; */
    outline-offset: 3rem;
    outline-offset: -3rem;
}

/*
    Los inputs de manera predeterminada utilizan un outline
*/