.color-by-name {
    background-color: coral;
    color: rebeccapurple;
    border: thick solid greenyellow;
}

/********************
COLORES HEXADECIMALES

0123456789ABCDEF

Colores en HEX van a ser colores de 6 dígitos
#FF6600
*/

.color-hex {
    background-color: #ff6600;
    background-color: #f60;
    /*los últimos dos dígitos refieren a la opacidad*/
    background-color: #00000035;
    color: #12ac78;
    border: thick solid #ffffff;
    border: thick solid #fff;
    border: thick solid #ff0000;
    border: thick solid #f00;
    border: thick solid #00ff00;
    border: thick solid #0f0;
    border: thick solid #0000ff;
    border: thick solid #00f;
    border: thick solid #000000;
    border: thick solid #000;
    
}

/***********************
COLORES RGB
RGB (Medios Digitales) vs CMYK (Medios Impresos)

Acepta 8 bits por canal

bit (0 | 1)     2^8 = 256

Los valores que acepta la función rgb() por cada 
canal de color, van del 0 al 255
*/

.color-rgb {
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 102, 0);
    border: thick solid rgb(173 , 255, 47);

    /*Para la opacidad se utiliza la función rgba() que agrega el canal alfa
    cuyos valores van del 0 al 1*/

    background-color: rgba(0, 0, 0, 0.23);
}

/********************
COLORES HSL
HueSaturationLightness (Tono-Saturación-Luminocidad)

Hue (Círculo cromático)

0º -> red
60º -> yellow
120ª -> green
180ª -> cyan
240ª -> blue
300ª -> magenta

Saturation
Es la intensidad del color

0% -> Escala de grises
100% -> Color puro

Lightness
Es la luminosidad del color

0% -> Negro
50% -> Color puro
100% -> Blanco

*/

.color-hsl {
    background-color: hsl(0, 100%, 50%);
    background-color: hsl(120, 100%, 50%);
    background-color: hsl(240, 100%, 50%);
    background-color: hsl(30, 100%, 50%);
    /*Se puede agregar opacidad con la función hsla() siendo:
    0 = 0%
    1 = 100%*/
    background-color: hsla(30, 100%, 50%, 0.5);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    border: thick solid hsl(hue, saturation, lightness);
}

/*****************
VALOR TRANSPARENT
Es lo mismo que aplicar rgba(0, 0, 0, 0)*/

/*****************
VALOR CURRENTCOLOR
Hereda el valor por defecto o asignado de la propiedad color (texto)
del ancestro que tenga definida esta propiedad.
*/

.color-transparent-current {
    background-color: darkmagenta;
    background-color: currentColor;
    background-color: transparent;
    border: thick solid currentColor;
}

.opacity {
    background-color: orchid;
    color: navy;
    border: thick solid black;
    /*la opacidad de todas las propiedades se mueve*/
    opacity: .75;
}