html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.contact-form {
    --form-text-color: #666;
    --form-success-color: #4caf50;
    --form-error-color: #f44336;
    --form-bg-color: #eee;
    --form-border-color: #222;
    --form-placeholder-color: #006999;

    background-color: var(--form-bg-color);
    border: thin solid var(--form-border-color);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2rem;
}


.contact-form > * {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    font-family: sans-serif;
    font-size: 1.25rem;
    padding: .5 rem;
    border-radius: .25rem;
    color: var(--form-text-color);
    /*cambia el color de la raya que titila*/
    caret-color: var(--form-placeholder-color);
}

.contact-form > *::placeholder {
    color: var(--form-placeholder-color);
}

/*EL color de borde afecta a los campos con el atributo
required, el boton de submit no lo tiene.*/

.contact-form > *[required]:invalid {
    border: thin solid var(--form-error-color);
}

.contact-form > *[required]:valid {
    border: thin solid var(--form-success-color);
}
.contact-form > input[type="submit"] {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: var(--form-placeholder-color);
    font-weight: bold;
    color: #fff;
}

/*Al input de tipo submit dentro del formulario, cando el mouse
pasa por arriba*/
.contact-form > input[type="submit"]:hover{
    cursor:pointer;
    opacity: 75%;
}

.contact-form > textarea {
    resize: none;
}