/************************
ESTILOS DE LISTAS

Propiedades
------------------------
list-style-image: none
list-style-position: outside
list-style-type: disc




Shorthand:
list-style: type image position

*/

.list {
    /*Default*/
    list-style-type: disc;
    list-style-type: none;
    list-style-type: square;
    list-style-type: armenian;
    list-style-type: circle;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: georgian;
    list-style-type: lower-alpha;
    list-style-type: lower-latin;
    list-style-type: lower-roman;
    list-style-type: lower-greek;

    /*Default*/
    list-style-image: none;
    /*Idealmente se tiene que usar una imagen del tamaño de la bullet*/
    /*Se usaba mucho en las páginas antiguas*/
    list-style-image: url("../assets/favicon.png");
    list-style-image: url("../assets/cielo.png");
    list-style-image: none;
}

/*Técnica para cuando la imagen desborda el tamaño del bullet*/

.list li {
    list-style-type: none;
}

.list li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("../assets/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*Hasta acá la técnica*/


.list-2 li {
    background-color: coral;
    list-style-position: inside;
    list-style-position: outside;
}

.list-3 li{
    background-color: cornsilk;
    list-style: lower-latin url("../assets/cielo.png") inside;
    list-style: lower-latin inside;
}

/*PROPIAMENTE PARA PARRAFOS Y LISTAS
NO CONFUNDIR CON MAQUETACIÓN (FLEXBOX Y GRID)*/
.text-column-4 {
    /*Para que la regla no se pegue con los numeros*/
    list-style-position: inside;
    column-count: 4;
    /*separación entre columnas*/
    column-gap: 2rem;
    /*regla entre columnas*/
    column-rule: thin dotted red;
    /*tamaño mínimo de anchura de una columna*/
    column-width: 100px;
}

.text-column-3 {
    column-count: 3;
    column-gap: 1rem;
    column-rule: thin solid gray;
    column-width: 100px;
}