html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}


/***************************
    Scroll de diapositivas
    ----------------------

    scroll-snap-type: none;
    -----------------------
    otros valores: x|y|inline|block|both [mandatory |proximity]

    x | inline: controlan el scroll en el eje horizontal.
    y | block: controlan el scroll en el eje vertical.
    both: controla tanto x como y.

    mandatory: con un sutil movimiento del scroll, este sube o baja.
                IMPORTANTE: El contenedor principal (main) debe tener
                            una altura fija. La que sea. 
                            Hay que setear overflow-eje: scroll;
                                con eje = x | y.
                            Los elementos hijos (slide) debe tener la
                            propiedad scroll-snap-align.
    proximity:  movimiento más relajado. Requiere hacer un mayor scroll
                con el mouse.

    scroll-snap-align: none;
    ------------------------
    none:   Predeterminado. No aplica la propiedad.
    end:    Se alinean al final.
    start:  Se alinean al principio.
    center: Se alinean a un punto medio.
*/
main {
    scroll-snap-type: none;
    scroll-snap-type: block mandatory;
}

/*Esta clase es para contener el carousel, puede sonar confuso,
pero su principal función es enmascarar al resto del carousel.*/
.carousel {
    border: thick solid #d938f0;
    display: flex;
    height: 50vh;
    width: 50%;
    overflow-x: hidden; 
}

/*Por ser hijo de .carousel, al ser éste flexbox, carousel-container
pasa a tener la altura completa del padre.*/
.carousel-container {
    width: 100%;
    display: grid; /*Para alinearlas en vertical*/
    /*Repite 5 columnas que ocupan el 100%*/
    grid-template-columns: repeat(5, 100%);

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #108eb4;
    scroll-snap-align: center;
}

.carousel-slide:nth-child(even) {
    background-color: #1e2345;
}

.gradient-text {
    background-image: linear-gradient(45deg, magenta, yellow);
    /*El fondo se adapta al texto - No del todo soportado aún*/
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;

    /*Ignora la propiedad color predefinida - No soportado aún*/
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.slide {
    width: 100%;
    height: inherit;
    background-color: #1e2345;
    scroll-snap-align: center;
}

.slide:nth-child(even) {
    background-color: #108eb4;
}

.slides {
    width: 100%;
    height: 100vh; /*Para tener el efecto de diapositivas, estas deben tener la altura del viewport*/
    overflow-y: scroll;
}

.slide-container {
    width: 80%; /*Para dar un margen a los lados de la diapositiva*/
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: #D9E8F0;
}